.buyersInfo {
    width: 798px;
    box-sizing: border-box;
    padding: 70px 63px;
    background-color: #fff;
}
.mainInfo {
    background-color: #F6F6F6;
    box-sizing: border-box;
    padding: 39px 42px;
    margin-bottom: 25px;
}
.titleBuyers {
    margin-top: 25px;
    font-family: 'gilroy';
    font-size: 15px;
    line-height: 22.5px;
    color: #2B1A51;
}
.titleBuyers a { color: #2B1A51; }
.answerTopic {
    font-family: 'gilroy-light';
    font-size: 15px;
    line-height: 22.5px;
    color: #2B1A51;
}
.answerTopic a { color: #2B1A51; }
.iconsSection {
    display: flex;
    align-items: center;
    margin-top: 27px;
}
.iconsSection img { margin-right: 40px; }
.iconsSection img:last-child { margin-right: 0; }