@font-face {
    font-family: 'foundry-bold';
    src: url('/fonts/Foundry Monoline/FoundryMonolineOT3-Bold.otf');
}
@font-face {
    font-family: 'foundry-boldita';
    src: url('/fonts/Foundry Monoline/FoundryMonolineOT3-BoldIta.otf');
}
@font-face {
    font-family: 'foundry-regular';
    src: url('/fonts/Foundry Monoline/FoundryMonolineOT3-Regular.otf');
}
@font-face {
    font-family: 'foundry-regita';
    src: url('/fonts/Foundry Monoline/FoundryMonolineOT3-RegIta.otf');
}
@font-face {
    font-family: 'foundry-medium';
    src: url('/fonts/Foundry Monoline/FoundryMonolineOT3-Medium.otf');
}
@font-face {
    font-family: 'foundry-exboldita';
    src: url('/fonts/Foundry Monoline/FoundryMonolineOT3-ExBdIta.otf');
}
@font-face {
    font-family: 'gilroy';
    src: url('/fonts/Gilroy/Gilroy-Medium.ttf');
}
@font-face {
    font-family: 'gilroy-light';
    src: url('/fonts/Gilroy/Gilroy-Light.ttf');
}
@font-face {
    font-family: 'gilroy-regular';
    src: url('/fonts/Gilroy/Gilroy-Regular.ttf');
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('/fonts/Gilroy/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'gilroy-semibold';
    src: url('/fonts/Gilroy/Gilroy-SemiBold.ttf');
}
* {
    margin: 0;
    padding: 0;
}
html { background-color:#F6F6F6; }
.contentSection {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.content {
    display: flex;
    justify-content: space-between;
    width: 1210px;
}
.answerTitle {
    font-family: 'gilroy';
    font-size: 15px;
    line-height: 22.5px;
    margin-bottom: 27px;
    color: #2B1A51;
}
.answerList { 
    list-style: none;
    display: flex;
    flex-direction: column;
    list-style-image: url('../public/icons/listMarker.svg');
}
.answerList li span {
    display: flex;
    align-items: center;
}
/*Всплывающие подсказки*/
.tooltip {
    margin: 0;
    display: flex;
    position: relative;
    cursor: pointer;
}
.promt {
    position: absolute;
    z-index: 1;
    top: 120%;
    left: -20em;
    right: -20em;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    max-width: 25em; 
    max-height: 80vh;
    overflow: auto;
    visibility: hidden;
    margin: 0 auto .4em;
    padding: .8em;
    background: rgb(236, 235, 238);
}
.promt, .promtText {
    font-family: 'gilroy';
    color: #2B1A51;
    font-size: 80%;
    line-height: 20px;
}
.tooltip:before {
    content: "";
    position: absolute;
    top: .95em;
    left: 0;
    right: 0;
    height: 2em;
    visibility: hidden;
  }
.tooltip > .promt a {
    font-family: 'gilroy';
    color: #2B1A51;
}
.tooltip:hover > .promt, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus > .promt, .tooltip:focus:before, .tooltip:focus:after {
    visibility: visible;
    transition: 0s .2s;
}
.tooltip:focus { outline: none; }