.productsSection {
    width: 798px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 38px 63px;
    padding-bottom: 57px;
}
.linksSection a, .linkSection {
    font-family: 'foundry-boldita';
    color: #2B1A51;
    text-decoration: underline;
}
.linksSection, .linkSection{ display: flex; }
.linksSection a:first-child { margin-right: 64px; }
.linksSection a img, .linkSection img { margin-left: 12px;}
.productsGrid {
    margin-top: 41px;
    display: grid;
    grid-template-columns: repeat(3, 206px);
    column-gap: 26px;
    row-gap: 26px;
}
.productItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 227px;
    background-color: #ECEBEE;
    background: url("../public/images/productBackground.svg");
    box-sizing: border-box;
    padding: 11px 40px 26px 31px;
}
.itemTitle {
    font-family: 'gilroy';
    font-size: 17px;
    line-height: 23.8px;
    color: #2B1A51;
}
.productImg { height: 65px; }